In [1]:
# tuples
# dicts
# sets

In [2]:
# rappel sur les listes
l = ['alice', 'bob', 'charles']

In [3]:
l[0]

'alice'

In [4]:
len(l)

3

In [5]:
l.append("doug")

In [6]:
l

['alice', 'bob', 'charles', 'doug']

In [7]:
l[1] = 'alfred'

In [8]:
l

['alice', 'alfred', 'charles', 'doug']

In [9]:
# tuples

In [10]:
t = ("alice", "bob", "charles")

In [11]:
len(t)

3

In [12]:
# immutable

In [13]:
t.append("doug")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
t[1] = 'alfred'

In [ ]:
for name in t:
    print(name)

In [ ]:
# dicts

In [14]:
d = {'alice': 26, 'bob': 30, 'charles': 40}

In [15]:
d[0]

KeyError: 0

In [39]:
d['alice']

26

In [40]:
d['alfred'] = 40

In [41]:
d

{'alice': 26, 'bob': 30, 'charles': 40, 'alfred': 40}

In [42]:
del d['alfred']

In [43]:
d.items()

dict_items([('alice', 26), ('bob', 30), ('charles', 40)])

In [44]:
d.keys()

dict_keys(['alice', 'bob', 'charles'])

In [45]:
d.values()

dict_values([26, 30, 40])

In [46]:
for k, v in d.items():
    print(k, v)

alice 26
bob 30
charles 40

In [47]:
# dictionnaires, et sets : non tri√©s

In [48]:
for k in sorted(d.keys(), reverse=True):
    print(k)

charles
bob
alice

In [49]:
# dict comprehensions

In [50]:
d2 = {k: i for k, i in zip(l, range(len(l)))}
d2

{'jean': 0, 'marc': 1, 'alice': 2}

In [51]:
for k, i in zip(l, range(len(l))):
    print(k, i)

jean 0
marc 1
alice 2

In [52]:
# sets

In [53]:
names = set()

In [54]:
names.add('alice')

In [55]:
names.add('bob')

In [56]:
'alice' in names

True

In [57]:
'alfred' in names

False

In [58]:
set('abracadabra')

{'a', 'b', 'c', 'd', 'r'}

In [59]:
a = {x for x in 'abracadabra' if x not in 'abc'}

In [60]:
a

{'d', 'r'}

In [61]:
# unions, intersections, difference

In [62]:
a = set('abracadabra')

In [63]:
b = set('elementaire')

In [64]:
a

{'a', 'b', 'c', 'd', 'r'}

In [65]:
b

{'a', 'e', 'i', 'l', 'm', 'n', 'r', 't'}

In [66]:
a.union(b)

{'a', 'b', 'c', 'd', 'e', 'i', 'l', 'm', 'n', 'r', 't'}

In [67]:
a.intersection(b)

{'a', 'r'}

In [68]:
a - b

{'b', 'c', 'd'}

In [69]:
b - a

{'e', 'i', 'l', 'm', 'n', 't'}

In [70]:
l = ['jean', 'marc', 'alice']

In [71]:
ages = [30, 25, 36]

In [72]:
for name, age in zip(l, ages):
    print(name, age)

jean 30
marc 25
alice 36

In [73]:
d2 = {name: age for name, age in zip(l, ages)}

In [74]:
d2

{'jean': 30, 'marc': 25, 'alice': 36}

In [75]:
names = set()

In [76]:
names = {}

In [77]:
names["jean"] = 30

In [78]:
names

{'jean': 30}

In [79]:
names = set()

In [80]:
names["jean"] = 30

TypeError: 'set' object does not support item assignment

In [ ]:
names

In [ ]:
names = {}

In [ ]:
name = set(['a', 'b'])
age = set(['c', 'd'])

In [ ]:
name

In [ ]:
age

In [ ]:
name + age

In [ ]:
tup1 = ('a', 'b')
tup2 = ('c', 'd')

In [ ]:
tup1 + tup2

In [ ]:
tup1 = tup1 + tup2

In [ ]:
tup1

In [ ]:
id(tup1)

In [ ]:
id(tup1)

In [ ]:
tup1 = tup1 + tup2

In [ ]:
id(tup1)

In [ ]:
l = ['a', 'b']

In [ ]:
id(l)

In [ ]:
l.append('c')

In [ ]:
id(l)

In [ ]:
# tuple sont immutables contrairement aux listes

In [ ]:
tup1 = ('a', 'b')
tup2 = ('c', 'd')

In [ ]:
id(tup1)

In [ ]:
tup1 = tup1 + tup2

In [ ]:
id(tup1)

In [ ]:
l = ['a', 'b']

In [ ]:
id(l)

In [ ]:
l.append('c')

In [ ]:
id(l)

In [ ]:
c = 'abc'

In [ ]:
id(c)

In [ ]:
c += 'd'

In [ ]:
c

In [ ]:
id(c)

In [ ]:
a = set(['a', 'b'])

In [ ]:
b = set(['a', 'b', 'c'])

In [ ]:
a - b