### tuples
### dicts
### sets

In [19]:
# rappel sur les listes
l = ['alice', 'bob', 'charles']

In [3]:
l[0]

'alice'

In [4]:
len(l)

3

In [5]:
l.append("doug")

In [6]:
l

['alice', 'bob', 'charles', 'doug']

In [7]:
l[1] = 'brad'

In [248]:
l

['alice', 'bob', 'charles']

In [249]:
# Accoler 2 listes : fonction zip

In [14]:
list1 =['A','B','C']
list2 =[1,2,3]
for x,y in zip(list1,list2):
    print(x,y)

A 1
B 2
C 3

In [ ]:
# les listes peuvent se trier

In [10]:
print([k for k in sorted(l, reverse=True)])

['doug', 'charles', 'brad', 'alice']

## tuples

In [11]:
t = ("alice", "bob", "charles")

In [12]:
len(t)

3

In [13]:
# immutable

In [14]:
t.append("doug")

AttributeError: 'tuple' object has no attribute 'append'

In [15]:
t[1] = 'alfred'

TypeError: 'tuple' object does not support item assignment

In [17]:
for name in t:
    print(name)

alice
bob
charles

## Dicts

In [18]:
age_d = {}

In [19]:
age_d["fred"] = 21
print(age_d)

{'fred': 21}

In [20]:
age_d.update({"benny" : 33})
print(age_d)

{'fred': 21, 'benny': 33}

In [21]:
age_d[0]

KeyError: 0

In [23]:
age_d['benny']

33

In [24]:
age_d['alfred'] = 45

In [25]:
# or
age_d.update({'raul':58})

In [26]:
age_d

{'fred': 21, 'benny': 33, 'alfred': 45, 'raul': 58}

In [27]:
del age_d['alfred']

In [28]:
age_d

{'fred': 21, 'benny': 33, 'raul': 58}

In [29]:
age_d.items()

dict_items([('fred', 21), ('benny', 33), ('raul', 58)])

In [30]:
age_d.keys()

dict_keys(['fred', 'benny', 'raul'])

In [31]:
age_d.values()

dict_values([21, 33, 58])

In [32]:
for k, v in age_d.items():
    print(k, v)

fred 21
benny 33
raul 58

In [33]:
# dict comprehensions

In [34]:
print(l)
mydict = {l[a] : range(len(l))[a] for a in range(len(l))}
mydict

['alice', 'brad', 'charles', 'doug']

{'alice': 0, 'brad': 1, 'charles': 2, 'doug': 3}

In [35]:
# or

for x, num in zip(l, range(len(l))):
    print(x, num)

alice 0
brad 1
charles 2
doug 3

In [36]:
# or
mydict = {x : num for x, num in zip(l, range(len(l)))}
mydict

{'alice': 0, 'brad': 1, 'charles': 2, 'doug': 3}

In [38]:
chocbrand_list = ['Nestle', "Galak", "Cadbury"]
choctype_list = ["milk", "white", "dark"]
choc_dict = {chocbrand_list[num] : choctype_list[num] for num in range(len(chocbrand_list))}
choc_dict

{'Nestle': 'milk', 'Galak': 'white', 'Cadbury': 'dark'}

In [56]:
# or

mydict = {chocbrand : choctype for chocbrand, choctype in zip(chocbrand_list, choctype_list)}
mydict

{'Nestle': 'milk', 'Galak': 'white', 'Cadbury': 'dark'}

## sets

In [74]:
names = set()

In [75]:
names.add('alice')
names.add('bob')
names

{'alice', 'bob'}

In [77]:
'bob' in names

True

In [78]:
set('abracadabra')

{'a', 'b', 'c', 'd', 'r'}

In [84]:
numl=[12,3,0,5,7,3,5,7,9,3]
set(numl)

{0, 3, 5, 7, 9, 12}

In [85]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [86]:
# unions, intersections, difference

In [87]:
a = set('abracadabra')
b = set('elementaire')

In [88]:
print(a)
b

{'b', 'd', 'r', 'a', 'c'}

{'a', 'e', 'i', 'l', 'm', 'n', 'r', 't'}

In [89]:
a - b

{'b', 'c', 'd'}

In [90]:
b - a

{'e', 'i', 'l', 'm', 'n', 't'}

In [91]:
a.union(b)

{'a', 'b', 'c', 'd', 'e', 'i', 'l', 'm', 'n', 'r', 't'}

In [92]:
a.intersection(b)

{'a', 'r'}

In [96]:
a + b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [97]:
tup1 = ('a', 'b')
tup2 = ('c', 'd')

In [98]:
tup1 + tup2

('a', 'b', 'c', 'd')

In [99]:
tup1 = tup1 + tup2

In [100]:
tup1

('a', 'b', 'c', 'd')

In [101]:
id(tup1)

2987943783616

In [102]:
id(tup2)

2987941712000

In [103]:
tup1 = tup1 + tup2

In [104]:
id(tup1)

2987943428832

In [105]:
l = ['a', 'b']

In [106]:
id(l)

2987943697600

In [107]:
l.append('c')

In [108]:
id(l)

2987943697600

In [109]:
# tuple sont immutables contrairement aux listes

In [242]:
tup1 = ('a', 'b')
tup2 = ('c', 'd')

In [243]:
tup1 = tup1 + tup2

In [244]:
id(tup1)

2987944074992

In [114]:
l = ['a', 'b']

In [115]:
id(l)

2987943698368

In [116]:
l.append('c')

In [117]:
id(l)

2987943698368

In [118]:
c = 'abc'

In [119]:
id(c)

2987875089840

In [120]:
c += 'd'

In [121]:
c

'abcd'

In [122]:
id(c)

2987944113264

In [123]:
a = set(['a', 'b'])

In [124]:
b = set(['a', 'b', 'c'])

In [125]:
a - b

set()

In [126]:
[(i, j) for i in range(10) for j in range(10) if i >= j]

[(0, 0),
 (1, 0),
 (1, 1),
 (2, 0),
 (2, 1),
 (2, 2),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

### tuples
### sets
### dicts

In [132]:
# Dicts, sets and tuples cannot be sorted. Using Sorted produces a list.

In [133]:
print([k for k in sorted(age_d.keys(), reverse=True)])

['raul', 'fred', 'benny']

## tuples

In [ ]:
# tuples : souvent une séquence d'objets hétérogènes, càd pas de même type, et assez statiques
# listes : souvent séquence homogène, et qu'on peut changer dynamiquement

In [142]:
t = ('test', 3, [3.5, 7])

In [143]:
t

('test', 3, [3.5, 7])

In [144]:
t[0]

'test'

In [145]:
name, number, liste = t

In [146]:
name

'test'

In [147]:
number

3

In [148]:
liste

[3.5, 7]

In [149]:
empty = ()

In [150]:
singleton = 'singleton',

In [151]:
len(singleton)

1

In [152]:
len(empty)

0

In [158]:
t = (singleton, empty)

In [159]:
t

(('singleton',), ())

## sets

In [161]:
# ensemble non ordonné, qui ne possède pas de doublon

In [162]:
basket = {'banana', 'orange', 'apple'}

In [163]:
basket = {'banana', 'banana'}

In [164]:
basket

{'banana'}

In [184]:
# 1ère utilisation typique du set : dédoublonner les valeurs d'une liste

In [165]:
import numpy as np

In [175]:
np.random.randint(10, size=100)

array([6, 8, 7, 0, 2, 8, 0, 4, 5, 0, 0, 1, 7, 2, 1, 2, 2, 9, 2, 3, 8, 9,
       4, 6, 1, 9, 2, 1, 0, 8, 6, 9, 2, 4, 1, 2, 4, 1, 6, 5, 0, 1, 2, 4,
       9, 9, 4, 9, 2, 6, 9, 9, 4, 0, 0, 9, 5, 0, 6, 7, 1, 2, 8, 9, 9, 9,
       1, 5, 5, 8, 0, 3, 2, 0, 8, 2, 3, 1, 8, 9, 5, 1, 3, 2, 1, 4, 8, 9,
       4, 0, 3, 6, 1, 3, 1, 7, 0, 0, 1, 2])

In [180]:
l = list(np.random.randint(10, size=100))
print(l)

[8, 2, 2, 5, 8, 6, 3, 1, 3, 6, 2, 4, 8, 6, 0, 7, 6, 2, 2, 8, 0, 4, 9, 2, 9, 3, 6, 1, 5, 7, 6, 3, 2, 0, 9, 7, 3, 9, 0, 5, 5, 1, 5, 3, 2, 4, 7, 0, 6, 8, 2, 7, 7, 0, 3, 4, 5, 4, 9, 1, 0, 7, 5, 9, 0, 8, 7, 9, 3, 3, 2, 8, 2, 8, 5, 5, 5, 6, 1, 9, 7, 6, 1, 3, 7, 4, 4, 6, 1, 8, 8, 1, 9, 8, 6, 9, 9, 3, 0, 1]

In [181]:
len(l)

100

In [182]:
set(l)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [183]:
len(set(l))

10

In [185]:
# 2ème utilisation : tester l'appartenance d'une valeur à un ensemble de valeurs

In [186]:
12 in l

False

In [187]:
8 in l

True

In [188]:
unique = set(l)

In [189]:
12 in unique

False

In [190]:
8 in unique

True

In [191]:
# temps de recherche d'une valeur dans une liste = temps proportionnel à la longueur de la liste = complexité linéaire = O(N) où N = len(liste)

In [192]:
# temps de recheche d'une valeur dans un set = temps constant = O(1) (bcp plus rapide)

In [193]:
# dict : set de couple (clé, valeur), avec la particularité que les clés doivent être uniques

In [194]:
# dict : association entre clé et valeur

In [202]:
d = {'jm': 32, 'antoine': 27, 'alice': 40}

In [203]:
'jm' in d

True

In [204]:
'helene' in d

False

In [205]:
del d['jm']

In [206]:
d

{'antoine': 27, 'alice': 40}

### itérer sur les éléments de tuples, set et dict

In [208]:
t = (1, 3, 4, 5)

In [209]:
for x in t:
    print(x)

1
3
4
5

In [214]:
print(unique)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [215]:
for x in unique:
    print(x)

0
1
2
3
4
5
6
7
8
9

In [219]:
for i, x in enumerate(l):
    print(i, x)
    break

0 8

In [220]:
for k in d.keys():
    print(k)

antoine
alice

In [221]:
for v in d.values():
    print(v)

27
40

In [222]:
for k,v in d.items():
    print(f'{k} : {v}')

antoine : 27
alice : 40

In [223]:
set('abracadabra')

{'a', 'b', 'c', 'd', 'r'}

In [224]:
list(set('abracadabra'))

['b', 'd', 'r', 'a', 'c']

In [225]:
l1 = ['A', 'B', 'C']
l2 = '123'

In [226]:
for x, y in zip(l1, l2):
    print(x, y)

A 1
B 2
C 3

In [227]:
??sorted

Signature: sorted(iterable, /, *, key=None, reverse=False)
Docstring:
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
Type:      builtin_function_or_method

In [228]:
for x in sorted(l, reverse=True):
    print(x)
    break

9

In [229]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [230]:
for i in reversed(range(10)):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [231]:
for x in reversed('abracadabra'):
    print(x)

a
r
b
a
d
a
c
a
r
b
a

In [232]:
for x in sorted('abracadabra'):
    print(x)

a
a
a
a
a
b
b
c
d
r
r

### dict/set comprehensions

In [15]:
{k: v for k, v in enumerate(range(4, 14))} # dict comprehension

{0: 4, 1: 5, 2: 6, 3: 7, 4: 8, 5: 9, 6: 10, 7: 11, 8: 12, 9: 13}

In [24]:

{x for x in l} # tuple comprehension

{'alice', 'bob', 'charles'}

In [21]:
t = (x for x in l[:10])

In [22]:
for x in t:
    print(x)

alice
bob
charles

### include, comprise, or encompass.

In [ ]:
# "a divine order comprehending all men"